@model NecessaryTools.Models.Alyaradat_Walmasrufat.AlYardat

@{
    ViewBag.title = "Al-Yardat";
}

<!DOCTYPE html>

<html>
<head>
    <title>Income</title>
</head>
<body>
<div>
      
</div>
</body>
</html>