@model NecessaryTools.Models.Alyaradat_Walmasrufat.AlMasrufat

@{
    ViewBag.title = "Al-Masrufat";
}

<!DOCTYPE html>

<html>
<head>
    <title>Expenditure</title>
</head>
<body>
<div>
      
</div>
</body>
</html>